.dropdown-menu {
  padding: 0px
}
.dropdown-item {
  padding: 1.0rem 1.5rem;
}
.dropdown-nav-link {
  color: #222 !important
}
.navbar-brand {
  padding-right: 0px;
  margin-right: 15px
}
.container{
   margin-top: 15px
}
.custom-select {
  padding-left: 30px;
}
.btn a {
  text-decoration: none;
  color: #fff
}

.navbar{
  padding: 0px 20px;
  min-height: 85px
}

.page-header {
  margin-bottom: 20px;
}

.page-data {
  margin-top: 20px;
}

.thead-dark, .thead-dark th  {
  background-color: #343a40 !important
}

.btn-outline-secondary a {
  color: #343a40
}